<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../../assets/img/img-investigacion/DSBR.jpg" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">Información</h3>

        <p class="ion-padding-start ion-padding-end">
            Hoy en día, la reutilización de conocimiento y de aplicaciones software implica el reuso de activos que pueden ser configurados en cada nuevo sistema. Para desarrollar sistemas utilizando productos, se tienen que tomar varias elecciones de diseño; por
            ejemplo, ¿Qué productos ofrecen la funcionalidad adecuada?¿Qué características de un producto se usarán realmente? En general, existen dos tipos de reuso de aplicaciones: la creación de nuevos sistemas integrando productos (componentes, servicios)
            existentes y el desarrollo de líneas de productos.Estos problemas han sido abordados desde diversas perspectivas, incorporando por ejemplo técnicas y herramientas basadas en conocimiento que exploran repositorios para reuso. Sin embargo, la
            reutilización efectiva de activos entre las organizaciones requiere tratamientos que son materia de investigación en ámbitos complejos; por ejemplo, la integración de arquitecturas empresariales o más recientemente, los denominados “ecosistemas
            de software” que consisten en un conjunto de empresas que extienden la funcionalidad de una plataforma suministrada por otra.
        </p>
        <p class="ion-padding-start ion-padding-end">
            El presente programa consiste de tres subproyectos que convergen en el tratamiento del desarrollo de software basado en reuso desde perspectivas que marcan tendencias en la investigación y desarrollo del área. Desde el análisis de dominios y el modelado
            de líneas de productos, que permite avanzar en el reuso a escala de sistemas globales, hasta el reuso de servicios específicos – utilizando las últimas plataformas y avances tecnológicos incluyendo semántica y estandarización – y pasando por
            el reuso de conocimiento a través de las nuevas tecnologías que incluyen redes sociales como fuentes para descubrir y potenciar ese conocimiento.
        </p>

        <h3 class="ion-padding-top ion-padding-start">Contacto</h3>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Dra. Alejandra Cechich
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    alejandra.cechich@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <h3 class="ion-padding-top ion-padding-start">Subproyectos</h3>

        <h4 class="ion-padding-top ion-padding-start">Reuso Orientado a Dominios - Parte II</h4>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Dra. Agustina Buccella
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    agustina.buccella@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Mg. Juan Luzuriaga
                </ion-label>
            </ion-item>
        </ion-list>

        <h4 class="ion-padding-top ion-padding-start">Reuso Orientado a Servicios - Parte II</h4>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Dr. Andres Flores
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    andres.flores@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Dr. Martin Garriga
                </ion-label>
            </ion-item>
        </ion-list>

        <h4 class="ion-padding-top ion-padding-start">Reuso de Conocimiento en Foros de Discusión - Parte II</h4>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Dra. Gabriela Aranda
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    gabriela.aranda@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Dra. Nadina Martínez Carod
                </ion-label>
            </ion-item>
        </ion-list>

    </div>

</ion-content>