<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../../assets/img/img-investigacion/AIMFyAE.jpg" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">Información</h3>

        <p class="ion-padding-start ion-padding-end">
            El objetivo general del proyecto de investigación es el estudio y desarrollo de técnicas de Inteligencia Artificial para dotar de inteligencia, conocimiento y capacidades cognitivas a agentes inmersos en ambientes complejos. Asimismo, se estudiarán modelos
            formales buscando identificar posibles aplicaciones en el contexto educativo. En este sentido, se procurará desarrollar modelos y categorías que contribuyan a la producción del marco teórico que se ocupa de estudiar la inclusión de la computación
            en la educación, asumiendo este campo de conocimiento como disciplina teórica en construcción.
        </p>
        <p class="ion-padding-start ion-padding-end">
            Durante el desarrollo del presente proyecto se estudiarán cuestiones fundacionales de la teoría y la construcción de aplicaciones basadas en Agentes Inteligentes inmersos en ambientes dinámicos. Se buscará como meta la generación de conocimiento especializado
            en el área de Inteligencia Artificial.
        </p>

        <h3 class="ion-padding-top ion-padding-start">Contacto</h3>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Mg. Gerardo Parra
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    gparra@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Director
                </ion-label>
                <ion-label class="ion-text-end">
                    A.C Jorge Rodríguez
                </ion-label>
            </ion-item>
        </ion-list>

    </div>

</ion-content>