<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../../assets/img/fotos-investigacion/CAP.jpg" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">Información</h3>

        <p class="ion-padding-start ion-padding-end">
            Un gran problema transversal a todas las Ciencias e Ingenierías Computacionales es la aplicación eficiente de modernas herramientas de cómputo paralelo y distribuido. La respuesta a este problema está condensada en el concepto de Computación de Altas
            Prestaciones (High Performance Computing, o HPC) que abarca todos aquellos principios, métodos y técnicas que permiten abordar problemas con estructuras de cómputo complejas y de altos requerimientos.
        </p>
        <p class="ion-padding-start ion-padding-end">
            El objetivo del proyecto es adquirir conocimientos para el diseño, desarrollo, aplicación, gestión y mejora de las tecnologías de hardware y software involucradas en la Computación de Altas Prestaciones y sus aplicaciones en Ciencias e Ingeniería Computacional.
            Basándonos en la experiencia recogida en las ediciones anteriores del proyecto (04/E085, Computación de Altas Prestaciones, y 04/F002, Computación de Altas Prestaciones – Parte II) pretendemos continuar líneas de investigación ya comenzadas,
            profundizando en aplicaciones de HPC para problemas y plataformas emergentes.
        </p>

        <h3 class="ion-padding-top ion-padding-start">Contacto</h3>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Lic. Rafael Zurita
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    rafa@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Mg. Claudio Zanellato
                </ion-label>
            </ion-item>
        </ion-list>

    </div>

</ion-content>