<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../../assets/img/fotos-investigacion/IEyACHySSE.jpg" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">Información</h3>

        <p class="ion-padding-start ion-padding-end">
            En la actualidad, se fabrican millones de dispositivos embebidos, y diariamente, interactuamos con decenas o cientos de ellos; desde routers residenciales a televisores y teléfonos móviles "inteligentes". Sin embargo, existen muy pocas posibilidades de
            adaptación y aplicación eficiente de estas tecnologías a nivel local o nacional. Parte de este problema proviene del objetivo mismo de los sistemas embebidos, los cuales son desarrollados para una funcionalidad especifica (a diferencia de
            las computadores personales, que son unidades de cómputos de propósito general). Otra parte del problema son las compañías fabricantes, que en gran mayoría, no cuentan con recursos suficientes para desarrollar sistemas embebidos genéricos
            y reusables.
        </p>
        <p class="ion-padding-start ion-padding-end">
            El objetivo de este proyecto es adquirir conocimientos para la identificación, evaluación y adaptación de componentes de hardware y software para sistemas embebidos. Los resultados serán aplicados en el desarrollo de sistemas embebidos genéricos, que
            permitirá su uso en diferentes áreas y con distintos objetivos (por ejemplo, se espera obtener sistemas embebidos para ser utilizados en robótica, como así también en otros proyectos de investigación relacionados, como la colaboración esperada
            con el proyecto “Desarrollos de Módulos Inteligentes para Aplicaciones Aeroespaciales y sus Cargas Útiles. 2° Parte” del Departamento de Electrónica de la Facultad de Ingenieria).
        </p>

        <h3 class="ion-padding-top ion-padding-start">Contacto</h3>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Ing. Rodolfo del Castillo
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    rdc@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Lic. Rafael Zurita
                </ion-label>
            </ion-item>
        </ion-list>


    </div>

</ion-content>