<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../../assets/img/fotos-investigacion/CACyE.jpg" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">Información</h3>

        <p class="ion-padding-start ion-padding-end">
            En este proyecto se propone la búsqueda y el estudio de nuevas estrategias para continuar con el diseño e implementación de herramientas computacionales que puedan ser utilizadas en la resolución de problemas aplicados al medio y a la educación. Es esencial
            aprovechar el potencial que las Tecnologías de la Información y Comunicación (TIC) pueden aportar para impulsar un cambio hacia el paradigma tecnológico y educativo. Se abarcan tres líneas de investigación interdisciplinares: Desarrollo y
            Uso de Recursos TIC, Métodos Computacionales y Simulación, Realidad Aumentada y Realidad Virtual. Se continuarán investigando nuevas formas de comunicación e interacción con dispositivos tecnológicos como son las interfaces de Realidad Aumentada
            (RA) y Realidad Virtual (RV),aplicando estas tecnologías a nuevas áreas, además de la educativa el área cultural, por ejemplo su uso para el resguardo del patrimonio en el caso de los museos y el turismo regional. También se seguirá con el
            desarrollo de nuevas metodologías de Objetos de Aprendizaje (OA), haciendo hincapié en las nuevas tendencias de la utilización de dispositivos móviles, donde se requiere que los OA se generen adaptándose a las características técnicas y metodológicas
            de los nuevos estilos de interacción. Se continuará investigando posibles mejoras en el desarrollo e implementación de algoritmos para la generalización del concepto de deflación de funciones aplicados a modelos nolineales de problemas complejos.
            Se sigue avanzando en el estudio de técnicas de modelado y simulación con aplicaciones al medio. La simulación juega un papel muy importante al permitir estudiar el comportamiento de sistemas reales antes de implementarlos y/o hacer mejoras
            en las tecnologías utilizadas para su optimización.
        </p>

        <h3 class="ion-padding-top ion-padding-start">Contacto</h3>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Mg. Adair Vilas Boas Martins
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    adair.martins@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Mg. Carina Fracchia
                </ion-label>
            </ion-item>
        </ion-list>

    </div>

</ion-content>