<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../../assets/img/fotos-investigacion/ACIIS.jpg" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">Información</h3>

        <p class="ion-padding-start ion-padding-end">
            Los avances tecnológicos de los sistemas de cómputo paralelo y distribuido permiten el desarrollo de aplicaciones antes impensadas. Proponemos desarrollar metodologías, modelos y soluciones informáticas para colaborar en la resolución de problemas que
            tengan una alta demanda computacional e impacto social. Se definen tres ejes de investigación:
        </p>
        <p class="ion-padding-start ion-padding-end">
            1- Aplicaciones para la salud. En las salas de cuidados intensivos de los centros de salud, muchos sensores de distinto equipamiento médico están conectados a los pacientes para medir datos fisiológicos de alta frecuencia. La computación paralela puede
            hacer viable el desarrollo de un sistema capaz de procesar todos los datos fisiológicos de los pacientes, en tiempo real, para detectar patologías de forma temprana basándose en múltiples parámetros fisiológicos de distintos aparatos médicos.
        </p>
        <p class="ion-padding-start ion-padding-end">
            2- Aplicaciones de informática forense. Debido al sostenido aumento del volumen de datos digital, muchas tareas periciales (como la detección de imágenes pornográficas) involucran un elevado tiempo de procesamiento. Esto lleva a un crecimiento excesivo
            de la lista de espera de pericias en trámite. La computación paralela puede hacer viable el desarrollo de software especial que disminuya los tiempos de procesamiento.
        </p>
        <p class="ion-padding-start ion-padding-end">
            3- Consumo energético de los sistemas de cómputo paralelo. Mientras el rendimiento de los sistemas de cómputo de altas prestaciones continúa aumentando, el problema del consumo energético sigue creciendo debido al mayor número de componentes del sistemas.
            No solo es necesario desarrollar sistemas hardware de mayor eficiencia energética, también es fundamental avanzar en la reducción del consumo de energía mediante la colaboración del software.
        </p>

        <h3 class="ion-padding-top ion-padding-start">Contacto</h3>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Director
                </ion-label>
                <ion-label class="ion-text-end">
                    Dr. Javier Balladini
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    javier.balladini@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Ing. Laura Sánchez
                </ion-label>
            </ion-item>
        </ion-list>

    </div>

</ion-content>