<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../assets/img/fotos-extension/escuela-media.jpg" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">Información</h3>

        <p class="ion-padding-start ion-padding-end">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <h3 class="ion-padding-top ion-padding-start">Contacto</h3>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Director
                </ion-label>
                <ion-label class="ion-text-end">
                    A.C Jorge Rodríguez
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    j.rodrig@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Director
                </ion-label>
                <ion-label class="ion-text-end">
                    C.C Jorge Sznek
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    jorge.sznek@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

    </div>

</ion-content>