<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../../assets/img/fotos-investigacion/AEyWS.jpg" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">Información</h3>

        <p class="ion-padding-start ion-padding-end">
            Actualmente, es esperable que las aplicaciones accedan a grandes cantidades de datos que se modifican en tiempo real, de manera constante y que se presentan en diferentes formatos,especialmente disponible a través de la Web. Muchas de estas aplicaciones
            ocurren bajo restricciones de tiempo críticas y en intensa interacción con el usuario. En este contexto, la representación conceptual de los dominios para la generación y extracción de información y conocimiento, es central en la toma de decisiones.
            Bajo este aspecto, el objetivo general del proyecto de investigación es el estudio y desarrollo de técnicas de Inteligencia Artificial para dotar de inteligencia, conocimiento e interoperabilidad semántica a agentes inmersos en ambientes complejos.
            Asimismo, la Web es un ambiente ideal para estos agentes que, junto con la generación y representación de conocimiento, las ontologías y el razonamiento automático, son fundamentales en la evolución de dicha Web, denominada Web Semántica.
            La meta de la Web Semántica es crear una Web de conocimiento en la cual la semántica del contenido es explicitada, permitiendo novedosas aplicaciones que combinan datos de sitios heterogéneos para, entre otros objetivos, mejorar la experiencia
            de los usuarios de acuerdo a sus necesidades.
        </p>
        <p class="ion-padding-start ion-padding-end">
            Existen diversos dominios en los cuales es factible aplicar los conceptos teóricos y algoritmos resultantes de nuestra investigación. Se espera el desarrollo de prototipos basados en agentes que maximicen su performance dado los beneficios obtenidos a
            partir de la generación, uso y acceso a información semánticamente consistente.
        </p>

        <h3 class="ion-padding-top ion-padding-start">Contacto</h3>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Dra. Laura Cecchi
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    lcecchi@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Lic. Sandra Roger
                </ion-label>
            </ion-item>
        </ion-list>

    </div>

</ion-content>