<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../../assets/img/img-investigacion/VDyRV.jpg" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">Información</h3>

        <p class="ion-padding-start ion-padding-end">
            La sociedad de la información actual dispone de grandes cantidades de datos. Sin embargo, no se trata solamente de tener la tecnología para obtenerlos y analizarlos, sino de ser capaces de dotar de significado estas cifras y estadísticas para poder explicar
            una historia con ellas. La Visualización de Datos (VD) da respuesta a esta situación estudiando, desarrollando y proponiendo las estrategias de visualización que permitan transformar datos en conocimiento, entendiendo sus procesos y modelos,
            así como los diversos aspectos técnicos y de comunicación involucrados.
        </p>
        <p class="ion-padding-start ion-padding-end">
            La Realidad Virtual (RV) establece una nueva forma de relación entre el uso de las coordenadas de espacio y de tiempo, supera las barreras espacio-temporales y configura un entorno en el que la información puede visualizarse desde perspectivas hasta ahora
            desconocidas. En particular la Realidad Aumentada (RA) mejora la percepción del usuario creando vínculos entre el mundo físico y el virtual. En este proyecto se trabajará en el análisis visual de grandes conjuntos de datos, con modelado 3D
            de escenarios y la aplicación de la tecnología de RA.
        </p>

        <h3 class="ion-padding-top ion-padding-start">Contacto</h3>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Mg. Lidia Marina Lopez
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <ion-label class="ion-text-end">
                    lidia.lopez@fi.uncoma.edu.ar
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list lines="none">
            <ion-item>
                <ion-label>
                    Co-Directora
                </ion-label>
                <ion-label class="ion-text-end">
                    Lic. Silvia Nayum Amaro
                </ion-label>
            </ion-item>
        </ion-list>


    </div>

</ion-content>