<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content>
    <!--TODO: se debe agregar: 
      *scroll infinito,
      *noticias de la FAIweb en el scroll,
      *simbolo de carga de contenido -->

    <!--Seccion de cards para mostrar noticias-->
    <div>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Tenés preguntas?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>
                    Si tenés alguna pregunta o duda sobre la aplicación o si encontraste algún error y lo querés reportar, en el menú lateral vas a poder encontrar el apartado de "Ayuda" dónde vas a realizar todo lo anterior.
                </p>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Ésto es solo el comienzo</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>
                    En ésta app vas a poder encontrar desde horarios de cursada, materias y eventos hasta ayudas para mejorar tu productividad al estudiar!
                </p>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Bienvenido/a a FAIapp!</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>
                    La app diseñada para estudiantes por estudiantes. Esperamos que la disfrutes!
                </p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>